<%- include('partials/header3') -%>

<center>
    <div class="card">
        <div class="card-body">
            <div class="info-col">
                <h1>DBMS MINI PROJECT</h1>
                <h1>GROUP MEMBERS :)</h1>
                <h3>Sahil</h3>
                <h3>Rohan</h3>
                <h3>Akash</h3>
            </div>
        </div>
    </div>    
</center>

<%- include('partials/footer2') -%>