<%- include('partials/header3') -%>
       <center>
            <div class="card">
               <div class="card-body">
                    <img  src="no-data.png" class="no-data">
               </div>
           </div>
       </center>
<%- include('partials/footer2') -%>