body
{
    background-image: url('BACK2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding: 5% 10%;
}

th
{
    background-color: tomato;
    color: white;
}

td
{
    background-color: white;
}

table
{
    margin: 5% 0%;
}

.info-col
{
    color: tomato;
    margin: 5% 0;
    text-shadow: 3px 2px 3px grey
}